<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Welcome!
		{% endblock %}
	</title>
	<link rel="icon" type="image/jpg" href="{{ asset('../images/logoC.png') }}"/>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shepherd.js@10.0.1/dist/css/shepherd.css"/>
		{{ encore_entry_link_tags('app') }}

	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		<script src="https://cdn.jsdelivr.net/npm/shepherd.js@10.0.1/dist/js/shepherd.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/gsap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/Flip.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollTrigger.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/Observer.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/ScrollToPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/Draggable.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/EaselPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/MotionPathPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/PixiPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/TextPlugin.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/EasePack.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.0/CustomEase.min.js"></script>
		<script src="https://kit.fontawesome.com/418bab4033.js" crossorigin="anonymous"></script>
	{% endblock %}
</head>
	<body>
    <div class="ec-landing-page col-6">
        <img class="ec-img-landing-page" src="{{ asset("build/images/estimmaus.png") }}" alt="estimmaus">
        <button class="ec-button-start" id="ec-button-js">Commencer</button>
    </div>
    <div class="hidden col-6">
        <form method="post" class="ec-login col-6 m-auto">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
			<div class="ec-form mx-auto">
				<label class="" for="inputEmail">Adresse mail</label>
				<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" placeholder="exemple@gmail.com" required autofocus>
			</div>
			<label class="" for="inputPassword">Password</label>
			<div class="ec-form m-auto" data-controller="password-visibility">
				<div class="ec-password">
				<input type="password" name="password" id="inputPassword" class="form-control position-relative" autocomplete="current-password" placeholder="Entre ton mot de passe" data-password-visibility-target="input" spellcheck="false" required>
				<button type="button" class="btn" data-action="password-visibility#toggle">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" data-password-visibility-target="icon" class="bi bi-eye position-absolute" viewBox="0 0 16 16">
						<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
						<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
					</svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" data-password-visibility-target="icon" class="bi bi-eye-slash hidden position-absolute" viewBox="0 0 16 16">
						<path d="M13.359 11.238C15.06 9.72 16 8 16 8s-3-5.5-8-5.5a7.028 7.028 0 0 0-2.79.588l.77.771A5.944 5.944 0 0 1 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.134 13.134 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755-.165.165-.337.328-.517.486l.708.709z"/>
						<path d="M11.297 9.176a3.5 3.5 0 0 0-4.474-4.474l.823.823a2.5 2.5 0 0 1 2.829 2.829l.822.822zm-2.943 1.299.822.822a3.5 3.5 0 0 1-4.474-4.474l.823.823a2.5 2.5 0 0 0 2.829 2.829z"/>
						<path d="M3.35 5.47c-.18.16-.353.322-.518.487A13.134 13.134 0 0 0 1.172 8l.195.288c.335.48.83 1.12 1.465 1.755C4.121 11.332 5.881 12.5 8 12.5c.716 0 1.39-.133 2.02-.36l.77.772A7.029 7.029 0 0 1 8 13.5C3 13.5 0 8 0 8s.939-1.721 2.641-3.238l.708.709zm10.296 8.884-12-12 .708-.708 12 12-.708.708z"/>
					</svg>
				</button>
				</div>
			</div>
			<input
					type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
			Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			See https://symfony.com/doc/current/security/remember_me.html
			<div class=“checkbox mb-3”>
				<label>
					<input type=“checkbox” name=“_remember_me”> Remember me
				</label>
			</div>
			#}
			<div class="text-center m-auto">
				<button class="ec-button mt-5" type="submit">
					Se connecter
				</button>
			</div>
		</form>
	</div>
    <script>
            const button = document.getElementById('ec-button-js');
            const login = document.querySelector('.hidden');

            button.addEventListener('click', () => {
                gsap.to(".ec-button-start", {duration: 0.2, opacity: 0});
                gsap.to(".ec-img-landing-page", {duration: 1.2, y: -200});
                gsap.to(".ec-login", { y: -400, duration: 1.2, opacity: 1});
                login.style.overflow = "initial";
                login.style.height = "100%";
            });
    </script>
	</head>
	</body>
</html>