{% extends 'base.html.twig' %}

{% block title %}Memory{% endblock %}

{% block body %}
    <h1>Memory</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ memory.id }}</td>
            </tr>
            <tr>
                <th>Size</th>
                <td>{{ memory.size }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_memory_index') }}">back to list</a>

    <a href="{{ path('app_memory_edit', {'id': memory.id}) }}">edit</a>

    {{ include('memory/_delete_form.html.twig') }}
{% endblock %}
