{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
<div class="col">
    <div class="em-error-selection p-2 d-flex flex-column justify-content-center align-items-center">
        <h4 class="text-center ">Malheureusement ce téléphone ne répond pas aux critères de sélection pour l'estimation.</h4>
        <p class="btn em-btn-retour em-change-button">Changer le critère</p>
        <a href="{{ path('app_preselection_1') }}" class="btn em-btn-retour">Refaire une estimation</a>
    </div>
    <div class="col em-accessories">
        <div class="form-check form-switch">
        {{ form_row(form.accessories, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnAccessories">Valider</div>
    </div>
    <div class="col em-system">
        <div class="form-check form-switch">
        {{ form_row(form.system, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnSystem">Valider</div>
    </div>
    <div class="col em-screen">
        <div class="form-check form-switch">
        {{ form_row(form.screen, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnScreen">Valider</div>
    </div>
    <div class="col em-network">
        <div class="form-check form-switch">
        {{ form_row(form.network, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnNetwork">Valider</div>
    </div>
    <div class="w-100 d-flex justify-content-center">
        {{ form_row(form.save, {'attr': {'class': 'em-save'}}) }}
        {{ form_row(form._token) }}
    </div>
</div>
{{ form_end(form, {'render_rest': false}) }}

<script>
    let error = document.querySelector('.em-error-selection');
    let changeButton = document.querySelector('.em-change-button')

    let btnAccessories = document.querySelector('.em-btnAccessories');
    let btnSystem = document.querySelector('.em-btnSystem');
    let btnScreen = document.querySelector('.em-btnScreen');
    let btnNetwork = document.querySelector('.em-btnNetwork');
    let btnNextStep = document.querySelector('.em-save');

    let inputAccessories = document.getElementById('preselection_accessories');
    let inputSystem = document.getElementById('preselection_system');
    let inputScreen = document.getElementById('preselection_screen');
    let inputNetwork = document.getElementById('preselection_network');

    let accessories = document.querySelector('.em-accessories');
    let system = document.querySelector('.em-system');
    let screen = document.querySelector('.em-screen');
    let network = document.querySelector('.em-network');

    /////////////////// accessories

    btnAccessories.addEventListener('click', () => {
        if (inputAccessories.checked == true){
            gsap.fromTo('.em-system', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnAccessories', {opacity: 0, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 1});
        }
    });

    /////////////////// system

    btnSystem.addEventListener('click', () => {
        if (inputSystem.checked == true){
            gsap.fromTo('.em-screen', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnSystem', {opacity: 0, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 1});
        }
    });

    /////////////////// screen

    btnScreen.addEventListener('click', () => {
        if (inputScreen.checked == true){
            gsap.fromTo('.em-network', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnScreen', {opacity: 0, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 1});
        }
    });

    /////////////////// network

    btnNetwork.addEventListener('click', () => {
        if (inputNetwork.checked == true){
            gsap.fromTo('.em-ram', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnNetwork', {opacity: 0, duration: 2});
            gsap.set(btnNextStep, {opacity: 1, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 1});
        }
    });

    /////////////////// button error

    changeButton.addEventListener('click', () => {
            gsap.to(error, {opacity: 0, x:300, duration: 1});
    });

</script>