{% form_theme form 'bootstrap_5_layout.html.twig' %}

{{ form_start(form) }}
<div class="col">
    <div class="col em-accessories">
        <div class="form-check form-switch">
        {{ form_row(form.accessories, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnAccessories">Suivant</div>
    </div>
    <div class="col em-system">
        <div class="form-check form-switch">
        {{ form_row(form.system, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnSystem">Suivant</div>
    </div>
    <div class="col em-screen">
        <div class="form-check form-switch">
        {{ form_row(form.screen, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnScreen">Suivant</div>
    </div>
    <div class="col em-network">
        <div class="form-check form-switch">
        {{ form_row(form.network, {'attr': {'role': 'switch'}}) }}
    </div>
        <div class="em-btnNetwork">Suivant</div>
    </div>
    <div class="col em-ram">
        {{ form_row(form.RAM) }}
        {{ form_row(form.storage) }}
        {{ form_row(form._token) }}
    </div>
<button class="btn em-save-btn">{{ form_row(form.save) }}</button>
</div>
{{ form_end(form, {'render_rest': false}) }}

<script>
    let error = document.querySelector('.em-error-selection');

    let btnAccessories = document.querySelector('.em-btnAccessories');
    let btnSystem = document.querySelector('.em-btnSystem');
    let btnScreen = document.querySelector('.em-btnScreen');
    let btnNetwork = document.querySelector('.em-btnNetwork');
    let btnRam = document.querySelector('.em-btnRam');

    let inputAccessories = document.getElementById('preselection_accessories');
    let inputSystem = document.getElementById('preselection_system');
    let inputScreen = document.getElementById('preselection_screen');
    let inputNetwork = document.getElementById('preselection_network');
    let inputRam = document.getElementById('preselection_ram');
    let inputStorage = document.getElementById('preselection_storage');

    let accessories = document.querySelector('.em-accessories');
    let system = document.querySelector('.em-system');
    let screen = document.querySelector('.em-screen');
    let network = document.querySelector('.em-network');
    let ram = document.querySelector('.em-ram');

    /////////////////// accessories

    btnAccessories.addEventListener('click', () => {
        if (inputAccessories.checked == true){
            gsap.fromTo('.em-system', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnAccessories', {opacity: 0, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 2});
        }
    });

    /////////////////// system

    btnSystem.addEventListener('click', () => {
        if (inputAccessories.checked == true){
            gsap.fromTo('.em-screen', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnSystem', {opacity: 0, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 2});
        }
    });

    /////////////////// screen

    btnScreen.addEventListener('click', () => {
        if (inputAccessories.checked == true){
            gsap.fromTo('.em-network', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnScreen', {opacity: 0, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 2});
        }
    });

    /////////////////// network

    btnNetwork.addEventListener('click', () => {
        if (inputAccessories.checked == true){
            gsap.fromTo('.em-ram', {opacity:0}, {duration: 2, opacity: 1});
            gsap.set('.em-btnNetwork', {opacity: 0, duration: 2});
        } else {
            gsap.to(error, {opacity: 1, x:-300, duration: 2});
        }
    });

    /////////////////// ram

</script>