{% extends 'base.html.twig' %}

{% block body %}
    {% for brand in brands %}
        <div class="brand">
            <img src="{{ asset('images/brands/' ~ brand.picturePath) }}" alt="{{ brand.name }}">
            <p>{{ brand.name }}</p>
        </div>
    {% endfor %}

    {{ form_start(formBrandEstimate) }}
        {#{{ form_widget(formBrandEstimate) }}#}
        {#{{ form_row(formBrandEstimate.name) }}#}
        <input type="text" name="{{ field_name(formBrandEstimate.name) }}">
        <input type="submit" value="valider" class="btn">
    {{ form_end(formBrandEstimate) }}
{% endblock %}