{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(formStateEstimate) }}

<div class="em-form-container-state">
    <h1 class="ec-form-title">État du téléphone</h1>
    <div class="ec-radios">

        {% for state in states %}

            <div class="ec-radio">
                <input type="radio" id="radio{{loop.index }}" value="{{ state.type }}" name="{{ field_name(formStateEstimate.type) }}">
                <label for="radio{{loop.index }}">
                    <h2>{{ state.type }}</h2>
                    <p class="ec-state-description">{{ state.description }}</p>
                </label>
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="valider" class="ec-button ec-button-state">
    {{ form_end(formStateEstimate) }}
</div>

{% endblock %}