{% extends 'base.html.twig' %}

{% block body %}

{{ form_start(formStateEstimate) }}
    {#{{ form_widget(formStateEstimate) }}#}
<div class="em-form-container">
    <div class="ec-radios">
        {#{{ form_row(formStateEstimate.type) }}#}
        {% for state in states %}
            {#{{ form_row(formStateEstimate.type) }}#}
            <div class="ec-radio">
                <input type="radio" id="radio{{loop.index }}" value="{{ loop.index }}" name="{{ field_name(formStateEstimate.type) }}">
                <label for="radio{{loop.index }}">
                    <h2>{{ state.type }}</h2>
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, consequatur distinctio eaque enim eos error iure necessitatibus neque nostrum numquam perferendis praesentium quam quod rem rerum tempora unde, velit voluptatem.</span></p>
                </label>
            </div>
        {% endfor %}
    </div>
    <input type="submit" value="Valider" class="ec-button">
    {{ form_end(formStateEstimate) }}
</div>
    {#<input type="text" name="{{ field_name(formStateEstimate.type) }}">#}


{% endblock %}