{% extends 'base.html.twig' %}

{% block title %}
	Accueil
{% endblock %}

{% block body %}
	<div class="ec-model card mx-auto">
		<div class="ec-resultsContainer">
			<img class="ec-phoneImg" src={{ asset("build/images/iphone13pro.jpg")}} alt="Picture of iPhone 13 Pro">
			<div>
				<h5>Estimé à:</h5>
				<h1>{{ estimation }}€</h1>
			</div>
		</div>
		<div class="ec-resultsDetails">
			<h1>{{ app.session.get("modelEstimate").getName() }}
				-
				{{app.session.get("modelEstimate").getYear()}}
			</h1>

			<table>
				<thead></thead>
				<tbody>
					<tr>
						<th>
							Marque
						</th>
						<td>
							{{ app.session.get("brandEstimate").getName() }}
						</td>
					</tr>
					<tr>
						<th>
							Mémoire Vive
						</th>
						<td>
							{{ app.session.get("memoryEstimate").getSize() }}
						</td>
					</tr>
					<tr>
						<th>
							Stockage
						</th>
						<td>
							{{ app.session.get("storageEstimate").getSize() }}
						</td>
					</tr>
					<tr>
						<th>
							État
						</th>
						<td>
							{{ app.session.get("stateEstimate").getType() }}
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="ec-results-bottom">
			<a href="/saveSmartphone">
				<button class="ec-button">Sauvegarder</button>
			</a>
		</div>
	</div>
{% endblock %}
