{% extends 'base.html.twig' %}

{% block title %}Storage index{% endblock %}

{% block body %}
    <h1>Storage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Size</th>
                <th>Indice</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for storage in storages %}
            <tr>
                <td>{{ storage.id }}</td>
                <td>{{ storage.size }}</td>
                <td>{{ storage.indice }}</td>
                <td>
                    <a href="{{ path('app_storage_show', {'id': storage.id}) }}">show</a>
                    <a href="{{ path('app_storage_edit', {'id': storage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_storage_new') }}">Create new</a>
{% endblock %}
