{% extends 'base.html.twig' %}

{% block title %}Model index{% endblock %}

{% block body %}
    <h1>Model index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Indice</th>
                <th>Year</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <td>{{ model.id }}</td>
                <td>{{ model.name }}</td>
                <td>{{ model.indice }}</td>
                <td>{{ model.year }}</td>
                <td>
                    <a href="{{ path('app_model_show', {'id': model.id}) }}">show</a>
                    <a href="{{ path('app_model_edit', {'id': model.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_model_new') }}">Create new</a>
{% endblock %}
